<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Terry Loves Goals | Accomplished</title>
  <style>
    h1 {
      color: white;
      font-family: 'Bangers', cursive;
      font-size: 50px;
    }

    img {
      width: 42.5%;
      height: 525px;
    }

    .goBack
    {
      color: white;
      font-family: 'Bangers', cursive;
      font-size: 33px;
      text-decoration: none;
    }
  </style>
</head>

<body style="background-image: url('/image/terry-happy.jpg'); height: 752px; background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div align="center">
    <h1>Accomplished!!!!</h1>
    <br /><br /><br />
    <marquee behaviour=scroll Loop="infinite" scrollamount="50">
    <img src="/image/terry-dancing.gif" />
    <img src="/image/terry-yay.gif" />
    <img src="/image/terry-crushed-it.gif" />
    <img src="/image/terry-you-da-best.gif" />
    <img src="/image/terry-prancing.gif" />
    <img src="/image/terry-cantaloupe.gif" />
    </marquee>
    <br /><br />
  <a class="goBack" href="/">Go Back</a>
  </div>
</body>

</html>