<!DOCTYPE html>

</html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Terry Loves Goals | Failure</title>
  <style>
    h1 {
      color: white;
      font-family: 'Bangers', cursive;
      font-size: 50px;
    }

    img {
      width: 50%;
      height: 475px;
    }

    .goBack {
      color: white;
      font-family: 'Bangers', cursive;
      font-size: 33px;
      text-decoration: none;
    }
  </style>
</head>

<body
  style="background-image: url('/image/puppy-holt.jpg'); height: 752px; background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div align="center">
    <h1>Given Up</h1>
    <marquee scrollamount="33">
      <img src="/image/terry-why.gif" direction="alternate" />
      <img src="/image/terry-why-2.gif" direction="alternate" />
      <img src="/image/terry-mango-yogurt.gif" direction="alternate" />
      <img src="/image/terry-whatyoudoing.gif" direction="alternate" />
    </marquee>
    <br /><br />
    <a class="goBack" href="/terry-loves-goals">Go Back</a>
  </div>
</body>

</html>